`
<style>
	.fadee.ng-enter {
		transition: 0.8s linear all;
		opacity: 0;
	}

	/* The finishing CSS styles for the enter animation */
	.fadee.ng-enter.ng-enter-active {
		opacity: 1;
	}
</style>

<!-- settings changer -->



<!-- Users table -->
<div class="content">
	<alert-message></alert-message>
	<alert-error></alert-error>
	<div class="form-base1">
		<div class="row-fluid">
			<h4>
				
				
				<a > Consulta de pedidos</a>
			</h4>

			

		</div>
		<div class="form-base form_content">
			<div class="row">
			
			<div class="col-xs-2">
					<div class="form-group">
						<label class="control-label">Obra Social:</label>
						<ui-select ng-model="busqueda.obraSocial" theme="select2" focus-on-condition="true">
							<ui-select-match placeholder="Seleccione un item">{{$select.selected.razonSocial}}</ui-select-match>
							<ui-select-choices repeat="gente.genteNr as gente in gente | propsFilter: {genteNr: $select.search, razonSocial: $select.search}">
								<div ng-bind-html="gente.razonSocial | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			
				<div class="col-xs-2">
					<label class="control-label">Número de Afiliado:</label> <input
					class="form-control" type="text" ng-model="busqueda.afiliado"
					ng-enter="searchTransacciones('init')" placeholder="" ></input>
				</div>

			</div>
			<div class="row">
			<ul class="actions-header">
				<li><button class="btn btn-primary" ng-click="buscarTranscaciones()">Buscar</button></li>
			</ul>
			</div>
		</div>
		
		
	</div>




	<ul>
		<div class="counter" style="min-width: 528px; max-width: 576px">
			<span>{{transacciones.length}}</span> de <span>{{total_items}}</span>

				
<moorea-select class="moorea-select inline-block middle"
style="width: 200px;" placeholder="Filtrar por ..." showby="true"
dataset="distinct_tasks" name="selected_filter_task"
ng-change="set_filter_and_refresh(selected_filter_task)"
ng-model="selected_filter_task"></moorea-select>
</div>

<li class="boxes fade1" tabindex="0" ng-repeat="current_transac in transacciones">
	<div>
		<h4>
			<b ng-click="preparedEdit(current_transac.transacNr)">{{current_transac.tipoComprob.descripcion + ' ' + current_transac.letra + ' ' + current_transac.prefijo + '-' + current_transac.nrComprob+ ' / ' + (current_transac.transacNr) }} </b>
			<span ng-show="current_transac.tipoComprob.nr == 8 && current_transac.destino ==-5" class="label label-warning">Pendiente de aprobación</span>
		</h4>	
<!-- 		<span class="instance-description">{{current_transac.gente.descripC + ' '+ current_transac.gente.cuit}}</span> -->
	</div>
	
	<ul>
		<li class="col-md-3" ng-if = "vista!='crm'">
			<span>Importe Total</span><br />
			<b>{{current_transac.total | currency}}</b>
		</li>
		<li class="col-md-3"  ng-if = "vista!='crm'">
			<span>Saldo</span><br />
			<b>{{current_transac.saldo | currency}}</b>
		</li>
		<li class="col-md-3">
			<span>Fecha creación</span><br />
			<b>{{current_transac.fecha | date:'dd-MM-yyyy'}}</b>
		</li>
		<li class="col-md-3"  ng-if = "vista!='crm'">
			<span>E-Mail</span><br />
			<b>{{current_transac.email || "&nbsp;"}}</b>
		</li>

		<li class="col-md-3"  ng-if = "vista!='crm'">
			<span>Código Postal</span><br />
			<b>{{current_transac.codigoPostal || "&nbsp;"}}</b>
		</li>
		<li class="col-md-3"  ng-if = "vista!='crm'">
			<span>Localidad</span><br />
			<b>{{current_transac.localidad || "&nbsp;"}}</b>
		</li>
		<li class="col-md-3"  ng-if = "vista!='crm'">
			<span>Provincia</span><br />
			<b>{{current_transac.provincia || "&nbsp;"}}</b>
		</li>
		<li class="col-md-3"  ng-if = "vista!='crm'">
			<span>Pais</span><br />
			<b>{{current_transac.pais || "&nbsp;"}}</b>
		</li>
		
		<li class="col-md-3"  ng-if = "vista!='crm'">
			<span>Fecha Entrega</span><br />
			<b>{{current_transac.fechaEntrega  | date:'dd-MM-yyyy'}}</b>
		</li>
		<li class="col-md-3">
			<span>Domicilio Entrega</span><br />
			<b>{{current_transac.domicilioEntrega.domicilio}}</b>
		</li>
		
		<li class="col-md-3">
			<span>Localidad Entrega</span><br />
			<b>{{current_transac.domicilioEntrega.localidad}}</b>
		</li>		
		<li class="col-md-3">
			<span>Provincia Entrega</span><br />
			<b>{{current_transac.domicilioEntrega.provincia}}</b>
		</li>
		<li class="col-md-3" ng-if="current_transac.tipoComprob.descripcion == 'Factura'">
			<span>Comisión</span><br />
			<b>{{ current_transac.total*0.1 | currency}}</b>
		</li>
		<li class="col-md-3" ng-if = "vista=='crm'">
			<span>Estado Pedido</span><br />
			<b>{{current_transac.estadoPedidoDeVenta.descrip || "&nbsp;"}}</b>
		</li>
		
		<li class="col-md-3" ng-if = "vista=='crm'">
			<span>Fecha Ultimo Estado</span><br />
			<b>{{current_transac.estadoPedidoDeVenta.fechaEstado  | date:'dd-MM-yyyy'}}</b>
		</li>
		

	</ul> 
	<br />
</li>
</ul>

</div>

</div>


<div id="viewFlow" class="modal fade mwidth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
	aria-hidden="true">&times;</button>
	<h5 id="myModalLabel">{{instance_name}} > Flujo</h5>
</div>
<div class="modal-header">
	<div style="z-index: 2999" class="contenEditor container-fluid">
		<div class="workspaceScrollArea">
			<div class="workspace">
				<div style="overflow-x: scroll" id="container" ng-rflow></div>
			</div> 
		</div>
	</div>
</div>
</div>






<div class="modal fade" id="bitacora" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h5 class="modal-title" id="myModalLabel">Bitácora</h5>
	</div>
	<div class="modal-body">
		<div ng-repeat="log in logs">
			<b>{{log.msg}}</b></br>
		</div>

		<div class="modal-notif" ng-if="logs.length == 0 && fetching_log">Cargando
			mensajes...</div>
			<div class="modal-notif" ng-if="logs.length == 0 && !fetching_log">No
				hay mensajes...</div>
			</div>

		</div>
	</div>
</div>

