<div class="content">
  <div class="form-base1">
    <div class="row-fluid">
      <h4>Usuario</h4>
      <alert-message></alert-message>
      <alert-error></alert-error>
    </div>
    <div class="form-base">
      <div class="row-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="gridStyle" ng-grid="usuarioGrid.gridOptions"></div>
          </div>
        </div>
        <div class="clearfix"></div>
        <a ng-click="create()" class="btn btn-small btn-primary" style="margin-top: 20px;"><i class="fa fa-plus-square-o"></i> Nuevo Usuario</a>
      </div>
    </div>
  </div>
</div>