<div >
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()">&times;</button>
		<h4 class="modal-title">{{title}}</h4>
	</div>
	<div class="modal-body">
		<div class="control-group">
			<div class="row">
				<div class="col-xs-6">
					<label class="control-label" for="inputNombre">Nombre:</label> <input
						class="form-control" type="text" name="inputNombre"
						ng-required="true" ng-model="usuario.nombre"
						ng-disabled="action == 'SHOW'" />
				</div>
				<div class="col-xs-6">
					<label class="control-label" for="inputApellido">Apellido:</label>
					<input class="form-control" type="text" name="inputApellido"
						ng-required="true" ng-model="usuario.apellido"
						ng-disabled="action == 'SHOW'" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<label class="control-label" for="inputUsername">Username:</label>
					<input class="form-control" type="text" name="inputUsername"
						ng-required="true" ng-model="usuario.username"
						ng-disabled="action == 'SHOW'" />
				</div>
				<div class="col-xs-6">
					<label class="control-label" for="inputPassword">Password:</label>
					<input class="form-control" type="password" name="inputPassword"
						ng-required="true" ng-model="usuario.password"
						ng-disabled="action == 'SHOW' || action == 'EDIT'" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<label class="control-label" for="inputRol">Rol:</label> <select
						class="form-control" ng-model="usuario.rol.id" name="inputRol"
						ng-required="true" ng-disabled="action == 'SHOW'">
						<option ng-repeat="r in roles" value="{{r.id}}"
							ng-selected="r.id == usuario.rol.id">{{r.nombre}}</option>
					</select>
				</div>
				<div class="col-xs-6" ng-show="read == true">
					<label class="control-label" for="inputLastLogin">Último
						Acceso:</label> <input class="form-control" type="date"
						name="inputLastLogin" ng-required="true"
						value="{{usuario.lastLogin | date: 'dd-MM-yyyy'}}"
						ng-disabled="action == 'SHOW'" />
				</div>
				<div class="col-xs-6">
					<label class="control-label" for="inputUserSk">Usuario
						SkSoft:</label> <input class="form-control" type="number"
						name="inputUsersk" ng-required="true" ng-model="usuario.usersk" />
				</div>
				<div class="col-xs-6">
					<label class="control-label" for="printLabel">Impresora
						Etiqueta: </label> <input class="form-control" type="text"
						name="printLabel" ng-model="usuario.printLabel"
						ng-disabled="action == 'SHOW'">
				</div>
			</div>
			
			<div class="row" style="margin-bottom: 20px">
				<div class="col-xs-4">
					<label class="control-label" for="inputLocked">Bloqueado: </label>
					<input type="checkbox" name="inputLocked" ng-model="usuario.locked"
						ng-disabled="action == 'SHOW'">
				</div>
				<div class="col-xs-4">
					<label class="control-label" >Usa Ingreso Masivo: </label>
					<input type="checkbox" name="useBulkLoad" ng-model="usuario.useBulkLoad"
						ng-disabled="action == 'SHOW'">
				</div>
				<div class="col-xs-4">
					<label class="control-label">Es vendedor: </label>
					<input type="checkbox" name="vendedor" ng-model="usuario.vendedor"
						ng-disabled="action == 'SHOW'">
				</div>

			</div>
			<div class="row">
				<div class="col-xs-12">
			
		
    	<ui-select ng-hide="action == 'SHOW'" multiple ng-model="existencias.user" theme="select2" close-on-select="false" style="width: 100%;" title="Elejir existencias">
   			<ui-select-match placeholder="Seleccione existencias...">{{$item.descrip}}</ui-select-match>
    		<ui-select-choices repeat="existencia.codigo as existencia in listaExistencias | propsFilter: {codigo: $select.search, descrip: $select.search}">
     			{{existencia.descrip}}
    		</ui-select-choices>
  		</ui-select></div></div>
  		<div class="actions dropdown" ng-show="action == 'SHOW'">
        	<label class="control-label">Existencias: </label>
        	<ul>
            	<li ng-repeat="exis in usuario.lExistencias"><span>{{exis.descrip}}</span></li>
            	<li ng-show="usuario.lExistencias == null"><span>Esté usuario no tiene existencias cargadas</span></li>
        	</ul>
   	 	</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success"
			ng-click="ok_confirm();cancel();" ng-show="action == 'NEW'"
			ng-disabled="usuario.nombre == null || usuario.apellido == null || usuario.username == null || usuario.password == null || usuario.rol.id == null">
			<i class="fa fa-floppy-o"></i> Aceptar
		</button>
		<button type="button" class="btn btn-success"
			ng-click="ok_confirm();cancel();" ng-show="action == 'EDIT'"
			ng-disabled="usuario.nombre == null || usuario.apellido == null || usuario.username == null || usuario.rol.id == null">
			<i class="fa fa-floppy-o"></i> Aceptar
		</button>
		<button type="button" class="btn btn-default" ng-click="cancel()"
			ng-show="action == 'NEW' || action == 'EDIT'">Cancelar</button>
		<button type="button" class="btn btn-default" ng-click="cancel()"
			ng-show="action == 'SHOW'">Volver</button>
	</div>
</div>
<!-- /.modal-content -->


