<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
  	<div class="control-group">
      <div class="row">
	    <div class="col-xs-12">
	      <label class="control-label" for="inputPasswordNew">Nueva Password:</label>
          <input class="form-control" type="password" name="inputPasswordNew" ng-required="true" ng-model="passwordNew.valor"/>
        </div>
      </div>
    </div> 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="ok_confirm();cancel();" ng-disabled="passwordNew.valor == null || passwordNew.valor == ''"><i class="fa fa-floppy-o"></i> Aceptar</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
  </div>
</div><!-- /.modal-content -->


