<div class="content">
  <div class="form-base1">
    <div class="row-fluid">
      <h4>Artículos</h4>
      <alert-message></alert-message>
      <alert-error></alert-error>
    </div>
    <div class="col-xs-3">
		<label class="control-label">Buscar artículos:</label> <input
			class="form-control" 
			type="text"
			ng-enter="searchArticulos(search.data, 1)"
			ng-model="search.data"
			placeholder="Ingrese parte del nombre/numero..." 
			focus-on-condition="true"/>
	</div>
	<div class="col-xs-1">
		<button ng-enter="searchArticulos(search.data, 1)"
				class="btn btn-secondary" 
				style="margin-top:20px; margin-bottom: 10px;" 
				ng-click="searchArticulos(search.data, 1)">
					<i class="fa fa-search" aria-hidden="true"/>
		</button>
	</div>
    <div class="form-base">
      <div class="row-fluid">
        <div class="row">
          <div class="col-xs-12">
            	<div class="gridStyle" ng-grid="gridOptions"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>