<div>
	<alert-error></alert-error>
	<form class="form-signin" ng-show="!name()">
		<h1><img src="img/cipres_logo.png" class="logo"></h1>
		<!-- <input id="username" ng-model="username" type="text" class="input-block-level" placeholder="Usuario" focus-on-condition="true" />
		<input id="password" ng-model="password" type="password" class="input-block-level" placeholder="Contraseña"/> -->

		<md-input-container class="md-block" flex-gt-sm>
			<label>Usuario</label>
			<input id="username" ng-model="username" type="text" class="input-block-level" focus-on-condition="true">
		</md-input-container>

		 <md-input-container class="md-block" flex-gt-sm>
            <label>Contraseña</label>
            <input id="password" ng-model="password" type="password" class="input-block-level">
          </md-input-container>

		<div class="form-actions center">
			<input type="submit" value="Ingresar" class="md-button btn-primary" ng-click="login()" ng-disabled="username == null || password == null"  />
		</div>
	</form> 
</div>

<style>
	body{
		background-color: #383a3f !important;
		background-image: url(img/cipres_bg.svg) !important;
		background-size: cover !important;}

		md-input-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore) {
			color: white;}
		


	</style>