<div class="content">
  <div class="form-base1">
    <div class="row-fluid">
      <h4>Buscar Transacciones pendientes</h4>
      <alert-message></alert-message>
      <alert-error></alert-error>
    </div>
    <div class="form-base">
      <div class="row-fluid">
        <div class="row">
          <div class="col-xs-12">
            <form ng-submit="submit()">
              <label class="control-label" for="nroRemito">Numero de remito: (R00010000001)</label>
              <input class="form-control" type="text" id="nroRemito" name="nroRemito" ng-model="nroRemito" />
              <br>
              <label class="control-label" for="nroFactura">Numero de factura: (A00010000001)</label>
              <input class="form-control" type="text" id="nroFactura" name="nroFactura" ng-model="nroFactura" />
              <br>
              <input type="submit" name="inputSubmit" class="btn btn-small btn-primary" id="submit" value="Buscar"  />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>