<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Restful Web Application</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/spring/applicationContext.xml, classpath:/spring/hibernateContext.xml, classpath:/spring/securityApplicationContext.xml</param-value>
	</context-param>
	<!-- Configuracion para el jboss / jax-rs  -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
  		 <init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>ar.com.cipres.rest</param-value>
		</init-param>  
		
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

    
    <filter>
      <filter-name>OpenSessionInViewFilter</filter-name>
      <filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
      <init-param>
         <param-name>sessionFactoryBeanName</param-name>
         <param-value>sessionFactory</param-value>         
      </init-param>      
   </filter>

   <filter-mapping>
     <filter-name>OpenSessionInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
   </filter-mapping> 
    

 	<filter>
	   <filter-name>springSecurityFilterChain</filter-name>
	   <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
<!-- 	   <async-supported>true</async-supported> -->
	</filter>
    <filter>
 		<description>
 		</description>
 		<display-name>CsrfTokenGeneratorFilter</display-name>
 		<filter-name>CsrfTokenGeneratorFilter</filter-name>
 		<filter-class>ar.com.cipres.filter.CsrfTokenGeneratorFilter</filter-class>
 	</filter>
 	
	<filter>
		<description>
 		</description>
		<display-name>CorsResponseFilter</display-name>
		<filter-name>CorsResponseFilter</filter-name>
		<filter-class>ar.com.cipres.filter.CorsResponseFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CorsResponseFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 	
 	
 	
	<filter-mapping>
	   <filter-name>springSecurityFilterChain</filter-name>
	   <url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CsrfTokenGeneratorFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>







<!-- 
<login-config>
    <auth-method>FORM</auth-method>
    <realm-name>AuthDbRealm</realm-name>
    <form-login-config>
      <form-login-page>/login</form-login-page>
      <form-error-page>/login-error.html</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>usuario_comun</role-name>
  </security-role>
  

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Accesible para usuarios autenticados</web-resource-name>
      <url-pattern>/index.html#/*</url-pattern>
      <url-pattern>/#/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>DELETE</http-method>
      <http-method>PUT</http-method>
      <http-method>HEAD</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>12|Administrador</role-name>
    </auth-constraint>

 
 
  </security-constraint> -->



<session-config>
    <session-timeout>900</session-timeout>
</session-config>


</web-app>